@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container-header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   font-family: 'Open Sans', sans-serif;
   margin: 0px 40px 0px 0px;
}

.accuont-header{
    border: 1px solid grey;
    border-radius: 15px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 5px;
    margin-right: 10px;
}

.User-header{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}


.plus-header{
    cursor: pointer;
}

.fi{
    margin: 0;
}

.logo-header{
    margin-left:20px;
}

.avatar-header{
    margin-right: 5px;
}

.modalsignup{
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #dbdbdb;
  box-Shadow: 24;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}


.ro{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
}

.ro::placeholder{
    text-align: center;
}